body{
    background: linear-gradient(to right, #355c7d, #6c5b7b, #c06c84);
    color: white;
}


th{
    color: white;
    border-top: none;
}
.table-striped td,
.table-striped th {
    border: 0;
}

td{
    color:white;
}