body{
    background: linear-gradient(to right, #355c7d, #6c5b7b, #c06c84);
    color: white;
}



.table-striped td,
.table-striped th {
    border: 0;
    color:white;
}
.row{
    margin-top: 20%;
}